In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved in part one into a DataFrame
city_data_df = pd.read_csv("Weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-01-30 17:34:24,-23.1203,-134.9692,76.17,61,59,4.29
1,1,Atuona,PF,2022-01-30 17:35:18,-9.8000,-139.0333,77.22,79,10,13.20
2,2,Leningradskiy,RU,2022-01-30 17:35:18,69.3833,178.4167,-8.90,93,100,0.51
3,3,Yulara,AU,2022-01-30 17:34:33,-25.2406,130.9889,73.24,100,40,12.66
4,4,Punta Arenas,CL,2022-01-30 17:35:19,-53.1500,-70.9167,51.91,46,75,28.77

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humitdity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-01-30 17:34:24,-23.1203,-134.9692,76.17,61,59,4.29
1,1,Atuona,PF,2022-01-30 17:35:18,-9.8000,-139.0333,77.22,79,10,13.20
13,13,Eyl,SO,2022-01-30 17:35:21,7.9803,49.8164,75.54,75,100,16.44
16,16,Trairi,BR,2022-01-30 17:35:22,-3.2778,-39.2689,78.30,85,100,7.16
19,19,Aripuana,BR,2022-01-30 17:35:22,-9.1667,-60.6333,75.43,97,100,3.89
31,31,Bandarbeyla,SO,2022-01-30 17:35:25,9.4942,50.8122,76.05,73,56,15.95
32,32,Butaritari,KI,2022-01-30 17:35:25,3.0707,172.7902,81.75,77,64,21.74
47,47,Sinnamary,GF,2022-01-30 17:35:29,5.3833,-52.9500,80.60,75,58,10.04
50,50,Poum,NC,2022-01-30 17:36:29,-20.2333,164.0167,79.70,79,99,7.94
51,51,Acapulco,MX,2022-01-30 17:36:30,16.8634,-99.8901,85.82,54,0,4.61

In [15]:
preferred_cities_df.count()

City_ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0       Rikitea      PF     76.17 -23.1203 -134.9692
1        Atuona      PF     77.22  -9.8000 -139.0333
13          Eyl      SO     75.54   7.9803   49.8164
16       Trairi      BR     78.30  -3.2778  -39.2689
19     Aripuana      BR     75.43  -9.1667  -60.6333
31  Bandarbeyla      SO     76.05   9.4942   50.8122
32   Butaritari      KI     81.75   3.0707  172.7902
47    Sinnamary      GF     80.60   5.3833  -52.9500
50         Poum      NC     79.70 -20.2333  164.0167
51     Acapulco      MX     85.82  16.8634  -99.8901

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [21]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,76.17,-23.1203,-134.9692,People ThankYou
1,Atuona,PF,77.22,-9.8000,-139.0333,Villa Enata
13,Eyl,SO,75.54,7.9803,49.8164,Amiin Hotel
16,Trairi,BR,78.30,-3.2778,-39.2689,janelas do mar
19,Aripuana,BR,75.43,-9.1667,-60.6333,
...,...,...,...,...,...,...
571,Kattivakkam,IN,79.07,13.2167,80.3167,Euronova Freezer
572,Kalmunai,LK,77.07,7.4167,81.8167,VS Villa
573,Townsville,AU,77.88,-19.2500,146.8000,Rydges Southbank Townsville
579,Bonthe,SL,82.92,7.5264,-12.5050,Bonthe Holiday Village
582,Lop Buri,TH,78.91,14.7981,100.6540,ลพบุรีอินน์ รีสอร์ท Lopburi Inn Resort

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))